{
  "Website": {
    "enabled": true,
    "allowMultipleInstances": true
  },
  "Note": {
    "enabled": true,
    "allowMultipleInstances": true
  },
  "Chat": {
    "enabled": true,
    "allowMultipleInstances": true
  },
  "Code": {
    "enabled": true,
    "allowMultipleInstances": true
  },
  "Calendar": {
    "enabled": true,
    "allowMultipleInstances": true
  },
  "Clock": {
    "enabled": true,
    "allowMultipleInstances": true
  },
  "Map": {
    "enabled": true,
    "allowMultipleInstances": true
  }
}
