{
  "Website": {
    "enabled": true,
    "allowMultipleInstances": true
  },
  "Note": {
    "enabled": true,
    "allowMultipleInstances": true
  },
  "Chat": {
    "enabled": true,
    "allowMultipleInstances": true
  }
}
